# Discord Bot Token
DISCORD_TOKEN=

# MongoDB Configuration
MONGODB_CONNECT_STRING=mongodb://localhost:27017
MONGODB_DATABASE_NAME=mhcat

# Image Configuration
FOOTER_ICON_URL=https://i.imgur.com/AQAodBA.png 